name: parsec_linux
description: Linux implementation of the parsec plugin.
version: 0.1.0
homepage: https://github.com/oxeanbits/parsec_flutter/tree/main/parsec_linux
repository: https://github.com/oxeanbits/parsec_flutter/tree/main/parsec_linux

environment:
  sdk: ">=2.18.5 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  parsec_platform_interface: ^0.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    implements: parsec
    platforms:
      linux:
        pluginClass: ParsecLinuxPlugin
        dartPluginClass: ParsecLinux
